body {
    padding: 0;
    margin: 0;
    background: url('https://bgfons.com/uploads/paper/paper_texture315.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(101, 131, 72);
    height: 60px;
    padding-top: 20px;
}

.menu-klass {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(131, 110, 72);
    height: 60px;
    padding-top: 20px;
}

.menu-ter {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(101, 131, 72);
    height: 60px;
    padding-top: 20px;
}

a {
    
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    padding-left: 10px;
    margin-left: 90px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: gray;
    
}

h1{
    text-align: center;
    
}

p{
    font-size: larger;
    font-family: times;
}

.white-box {
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: green solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-ter {
    background-color: rgba(151, 245, 156, 0.555);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: green solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-klass {
    background-color: rgba(194, 180, 115, 0.836);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: rgb(111, 211, 111) solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sensor{
    padding-left: 50%;
    padding-right: 50%;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}

#graf{
    height: 300px;
    width: 500px;
    border: 3px black solid;
    margin-left: 200px;
    margin-top: 600px;
}

#humidity{
    margin-top: 180px;
    margin-left: 60px;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}