/*Bakrundbild*/
body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*menyn för alla rum*/
.menu-klass {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(131, 110, 72, 0.9);
    height: 60px;
    padding-top: 20px;
}

.menu-ter {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(101, 131, 72, 0.95);
    height: 60px;
    padding-top: 20px;
}

.menu-vard {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(23, 136, 42, 0.815);
    height: 60px;
    padding-top: 20px;
}

.menu-bibl {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(245, 157, 86, 0.733);
    height: 60px;
    padding-top: 20px;
}

.menu-kaf {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(29, 58, 138, 0.726);
    height: 60px;
    padding-top: 20px;
}

/*stilar för text i menyn*/
a {
    
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    margin-left: 10vw;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: gray;
    
}

/*stilar för rubriker i boxen*/
h1{
    text-align: center;
    
}

/*stilar för värdena i boxen*/
p{
    font-size: larger;
    font-family: times;
}


/*stilar för boxen för varje rum*/
.white-box-ter {
    background-color: rgba(84, 173, 89, 0.86);
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    width: 28vw;
    border-radius: 5vw;
    border: green solid 5px;
    margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-klass {
    background-color: rgba(209, 202, 171, 0.836);
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    width: 28vw;
    border-radius: 5vw;
    border:  rgb(131, 110, 72) solid 5px;
    margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0%;
}

.white-box-vard {
    background-color:rgba(255, 255, 255, 0.705);
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    width: 28vw;
    border-radius: 5vw;
    border: rgb(39, 190, 39) solid 5px;
    margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-bibl {
    background-color:rgba(255, 145, 56, 0.733);
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    width: 28vw;
    border-radius: 5vw;
    border: rgb(243, 89, 0) solid 5px;
    margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-kaf {
    background-color:rgba(6, 150, 160, 0.548);
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    width: 28vw;
    border-radius: 5vw;
    border: rgb(30, 30, 230) solid 5px;
   margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*stil för värdena från tempsensorn*/
#temp1{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}


#humidity1{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 4vw;
    font-weight: bold;
}

#temp2{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}


#humidity2{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 4vw;
    font-weight: bold;
}

#temp3{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}


#humidity3{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 4vw;
    font-weight: bold;
}

#temp4{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}


#humidity4{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 4vw;
    font-weight: bold;
}

#temp5{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}



#humidity5{
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-size: 4vw;
    font-weight: bold;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 5vw;
    right: 3vw;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(29, 58, 138, 0.726);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 70px;
    scroll-behavior: smooth;
    height: 70px;
    width: 75px;
  }
  
  #myBtn:hover {
    background-color: lightblue;
  }

  /*storlek och placering för alla grafer till varje rum*/
  #container1{
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px; 
    width: 90vw; 
  }
  #container2{
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px; 
    width: 90vw; 
  }
  #container3{
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px; 
    width: 90vw; 
  }
  #container4{
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px; 
    width: 90vw; 
  }
  #container5{
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px; 
    width: 90vw; 
  }

  #con-container {
      background-color: white;
      width: 98,5vw;
      height: 600px;
  }

  #cont {
      margin-left: auto;
      margin-right: auto;

  }

  /*gör att om browsern är mindre 1500px så är margin left 8vw*/
  @media screen and (max-width: 1500px) {
      a {
          margin-left: 8vw;
      }
  }
  /*beteende på scrollknappen*/
  html {
    scroll-behavior: smooth;
  }

/*stil för Knappar till graferna*/  
#downButton{
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(131, 110, 72, 0.9);
    color: white;
    cursor: pointer;
    padding: 22px;
    border-radius: 100px;
    margin-left: 90vw;
    margin-top: 0;
}

#downButton:hover {
    background-color:burlywood;
}


#downButton2{
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(101, 131, 72, 0.9);
    color: white;
    cursor: pointer;
    padding: 22px;
    border-radius: 100px;
    margin-left: 90vw;
    margin-top: 0;
    
}
#downButton2:hover{
    background: rgba(188, 241, 137, 0.9);
}


#downButton3{
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(29, 58, 138, 0.726);
    color: white;
    cursor: pointer;
    padding: 22px;
    border-radius: 100px;
    margin-left: 90vw;
    margin-top: 0;
    
}

#downButton3:hover{
    background-color: lightskyblue;
}


#downButton4{
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(23, 136, 42);
    color: white;
    cursor: pointer;
    padding: 22px;
    border-radius: 100px;
    margin-left: 90vw;
    margin-top: 0;
    
}

#downButton4:hover{
    background-color: rgb(43, 192, 68);
}

#downButton5{
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(245, 157, 86, 0.9);
    color: white;
    cursor: pointer;
    padding: 22px;
    border-radius: 100px;
    margin-left: 90vw;
    margin-top: 0;
    
}

#downButton5:hover{
    background-color: rgb(236, 212, 167);
}

#section1{
    margin-top: 30px;
}
