body {
    padding: 0;
    margin: 0;
    background: url('https://bgfons.com/uploads/paper/paper_texture315.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(72, 33, 33);
    height: 60px;
    padding-top: 20px;
}

a {
    
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    padding-left: 10px;
    margin-left: 90px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: gray;
    
}

h1{
    text-align: center;
    
}

p{
    font-size: larger;
    font-family: times;
}

#sensor{
    margin-left: 200px;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}

#graf{
    height: 300px;
    width: 500px;
    border: 3px black solid;
    margin-left: 200px;
    margin-top: 800px;
}