body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu-klass {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(131, 110, 72, 0.788);
    height: 60px;
    padding-top: 20px;
}

.menu-ter {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(101, 131, 72, 0.973);
    height: 60px;
    padding-top: 20px;
}

.menu-vard {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(23, 136, 42, 0.815);
    height: 60px;
    padding-top: 20px;
}

.menu-bibl {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(221, 180, 103, 0.808);
    height: 60px;
    padding-top: 20px;
}

.menu-kaf {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(101, 131, 72);
    height: 60px;
    padding-top: 20px;
}

a {
    
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    padding-left: 10px;
    margin-left: 90px;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: gray;
    
}

h1{
    text-align: center;
    
}

p{
    font-size: larger;
    font-family: times;
}

.white-box {
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: green solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-ter {
    background-color: rgba(151, 245, 156, 0.555);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: green solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-klass {
    background-color: rgba(209, 202, 171, 0.836);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border:  rgb(131, 110, 72) solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0%;
}

.white-box-vard {
    background-color:rgba(255, 255, 255, 0.705);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: rgb(39, 190, 39) solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-bibl {
    background-color:rgba(255, 145, 56, 0.733);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: rgb(243, 89, 0) solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-box-kaf {
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 70px;
    border: green solid 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#sensor{
    padding-left: 50%;
    padding-right: 50%;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}


#humidity{
    margin-top: 180px;
    margin-left: 60px;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:green;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    scroll-behavior: smooth;
  }
  
  #myBtn:hover {
    background-color: lightblue;
  }
  #container{
    margin-top: 600px;  
    height: 600px; 
    width: 1263px; 
    margin-left: 0px;
  }
