.menu {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 60px;
    padding-top: 20px;
}

a {
    
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    padding-left: 10px;
    border: white;
    background-color: black;
    margin-left: 100px;
    font-size: 25px;
    
}

a:hover {
    color: gray;
}